* {
    margin: 0;
    padding: 0;
}

@import "./variables";
@import "./index";
@import "./equipo";
@import "./proximas";
@import "./fotos";
@import "./contacto";
@import "./media";



#inicio {
    display: flex; 
    height: 1000px;
    justify-content: center;
    font-size: 120px;
    
}

#menunav {
    justify-content: end;
    align-items: center;
 }
 
#cuerpo {
    background-image: $colorBody
}
.hInicio {
    display: grid; 
    grid-template-columns: 20% auto;
    align-items: center;
}
.mInicio {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px;
    border: 1px solid black;
    color: black;
}

.logo {
    height: 80px;
    width: 80px;
    margin: 20px;
}


.pie {
    color: white;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    margin-top: 30px;
    p {
        margin: 0;
    }
}   
